h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    margin: 0;
}

nav ul li {
    display: inline;
    font-size: 20px;
    margin-right: 75px;
    position: relative;
    left: 18%;
    padding: 25px 10px;
}

.title {
    color: rgb(210, 210, 210);
    padding: 37px;
}

.logo {
    float: left;
    margin: 5px 5% 0 35%;
}

body {
    margin: 0;
}

header {
    background-color: #2c2c2c;
    border-bottom: 2px solid #912b2b;
    width: 100%;
    height: 110px;
}

.content {
    max-width: 960px;
    background-color: #b7b7b7;
    margin: 0 auto;
    padding: 10px;
}

main {
    background-color: #797979;
}

nav ul {
    list-style: none;
    display: inline;
}

footer {
    border-top: 1px solid #912b2b;
    background-color: #2c2c2c;
    width: 100%;
    height: 30px;
}

.copyrate {
    margin: 0;
    color: rgb(210, 210, 210);
    position: relative;
    top: 20%;
}

.container {
    background-color: rgb(161, 161, 161);
    padding: 20px;
    margin: 10px auto;
}

table {
    text-align: center;
    border-spacing: 0;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

th,
td {
    border: 1px solid black;
}

.even {
    background-color: rgb(255, 121, 121);
}

td,
th:not(even) {
    background-color: rgb(203, 203, 203);
}